<h1 align="center">Surf Spots</h1>

<div align="center">
  <%= will_paginate renderer: BootstrapPagination::Rails %>
</div>

<%= render "surf_spot", object: @surf_spots %>

<div align="center">
  <%= will_paginate renderer: BootstrapPagination::Rails %>
</div>
