/*
 * This is a manifest file that"ll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin"s vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You"re free to add application-wide styles to this file and they"ll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 // Seems to need to have this variable above the import bootstrap
 $navbar-default-bg: #337ab7;
 @import "bootstrap";


// navigation

.navbar-default .navbar-nav li a {
  color: #fff;
}

.navbar-default .navbar-nav li a:hover {
  color: #f19b19;
}

.dropdown-menu {
  background-color: #337ab7;
}

// is there a better way of doing this? Probably doing to delete?
.navbar-default .navbar-nav > .open > a:focus {
  color: #fff;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #f19b19;
  text-decoration: none;
}

.center {
  text-align: center;
}

// footer

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}
