<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://github.com/libbyschuknight">Libby Schumacher-Knight</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "My Surf Spots", surf_spots_path %></li>
      </ul>
    </nav>
  </footer>
</div>
